#####
# First, rules intended to apply in all subdirectories.
# These contain no slash, or only a trailing slash.

*.cover
*.iml
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.orig
*.pyc
*.pyd
*.pyo
*.rej
*.swp
*~
*.gc??
*.profclang?
*.profraw
*.dyn
.gdb_history
.purify
__pycache__
.hg/
.svn/
.idea/
tags
TAGS
.vs/
.vscode/
gmon.out
.coverage
.mypy_cache/
.pytest_cache/
.DS_Store

*.exe
!Lib/distutils/command/*.exe

# Ignore core dumps... but not Tools/msi/core/ or the like.
core
!core/


#####
# Then, rules meant for a specific location relative to the repo root.
# These must contain a non-trailing slash (and may also have a trailing slash.)

Doc/build/
Doc/venv/
Doc/.venv/
Doc/env/
Doc/.env/
Include/pydtrace_probes.h
Lib/distutils/command/*.pdb
Lib/lib2to3/*.pickle
Lib/test/data/*
!Lib/test/data/README
/Makefile
/Makefile.pre
Mac/Makefile
Mac/PythonLauncher/Info.plist
Mac/PythonLauncher/Makefile
Mac/PythonLauncher/Python Launcher
Mac/PythonLauncher/Python Launcher.app/*
Mac/Resources/app/Info.plist
Mac/Resources/framework/Info.plist
Mac/pythonw
/*.framework/
Misc/python.pc
Misc/python-embed.pc
Misc/python-config.sh
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix
Programs/_freeze_importlib
Programs/_testembed
PC/python_nt*.h
PC/pythonnt_rc*.h
Modules/python.exp
PC/*/*.exp
PC/*/*.lib
PC/*/*.bsc
PC/*/*.dll
PC/*/*.pdb
PC/*/*.user
PC/*/*.ncb
PC/*/*.suo
PC/*/Win32-temp-*
PC/*/x64-temp-*
PC/*/amd64
PCbuild/*.user
PCbuild/*.suo
PCbuild/*.*sdf
PCbuild/*-pgi
PCbuild/*-pgo
PCbuild/*.VC.db
PCbuild/*.VC.opendb
PCbuild/amd64/
PCbuild/arm32/
PCbuild/arm64/
PCbuild/obj/
PCbuild/win32/
Tools/unicode/data/
/autom4te.cache
/build/
/config.cache
/config.log
/config.status
/config.status.lineno
# hendrikmuhs/ccache-action@v1
/.ccache
/platform
/profile-clean-stamp
/profile-run-stamp
/pybuilddir.txt
/pyconfig.h
/python-config
/python-config.py
/python.bat
/python-gdb.py
/python.exe-gdb.py
/reflog.txt
/coverage/
/externals/
/htmlcov/
Tools/msi/obj
Tools/ssl/amd64
Tools/ssl/win32

# Two-trick pony for OSX and other case insensitive file systems:
# Ignore ./python binary on Unix but still look into ./Python/ directory.
/python
!/Python/

# Artifacts generated by 3.11 lying around when switching branches:
/_bootstrap_python
/Modules/Setup.bootstrap
/Modules/Setup.stdlib
/Programs/_freeze_module
/Python/deepfreeze/
/Python/frozen_modules/
wince_build/tcl8.4.3/library/auto.tcl
wince_build/tcl8.4.3/library/history.tcl
wince_build/tcl8.4.3/library/init.tcl
wince_build/tcl8.4.3/library/ldAout.tcl
wince_build/tcl8.4.3/library/package.tcl
wince_build/tcl8.4.3/library/parray.tcl
wince_build/tcl8.4.3/library/safe.tcl
wince_build/tcl8.4.3/library/tclIndex
wince_build/tcl8.4.3/library/word.tcl
wince_build/tcl8.4.3/tk8.4/bgerror.tcl
wince_build/tcl8.4.3/tk8.4/button.tcl
wince_build/tcl8.4.3/tk8.4/choosedir.tcl
wince_build/tcl8.4.3/tk8.4/clrpick.tcl
wince_build/tcl8.4.3/tk8.4/comdlg.tcl
wince_build/tcl8.4.3/tk8.4/console.tcl
wince_build/tcl8.4.3/tk8.4/dialog.tcl
wince_build/tcl8.4.3/tk8.4/entry.tcl
wince_build/tcl8.4.3/tk8.4/focus.tcl
wince_build/tcl8.4.3/tk8.4/license.terms
wince_build/tcl8.4.3/tk8.4/listbox.tcl
wince_build/tcl8.4.3/tk8.4/menu.tcl
wince_build/tcl8.4.3/tk8.4/mkpsenc.tcl
wince_build/tcl8.4.3/tk8.4/msgbox.tcl
wince_build/tcl8.4.3/tk8.4/obsolete.tcl
wince_build/tcl8.4.3/tk8.4/optMenu.tcl
wince_build/tcl8.4.3/tk8.4/palette.tcl
wince_build/tcl8.4.3/tk8.4/panedwindow.tcl
wince_build/tcl8.4.3/tk8.4/pkgIndex.tcl
wince_build/tcl8.4.3/tk8.4/safetk.tcl
wince_build/tcl8.4.3/tk8.4/scale.tcl
wince_build/tcl8.4.3/tk8.4/scrlbar.tcl
wince_build/tcl8.4.3/tk8.4/spinbox.tcl
wince_build/tcl8.4.3/tk8.4/tclIndex
wince_build/tcl8.4.3/tk8.4/tearoff.tcl
wince_build/tcl8.4.3/tk8.4/text.tcl
wince_build/tcl8.4.3/tk8.4/tk.tcl
wince_build/tcl8.4.3/tk8.4/tkfbox.tcl
wince_build/tcl8.4.3/tk8.4/unsupported.tcl
wince_build/tcl8.4.3/tk8.4/xmfbox.tcl
make.log
wince-hash.txt
PC/python310/abstract.h
PC/python310/bltinmodule.h
PC/python310/boolobject.h
PC/python310/bytearrayobject.h
PC/python310/bytesobject.h
PC/python310/cellobject.h
PC/python310/ceval.h
PC/python310/classobject.h
PC/python310/code.h
PC/python310/codecs.h
PC/python310/compile.h
PC/python310/complexobject.h
PC/python310/context.h
PC/python310/datetime.h
PC/python310/descrobject.h
PC/python310/dictobject.h
PC/python310/dynamic_annotations.h
PC/python310/enumobject.h
PC/python310/errcode.h
PC/python310/eval.h
PC/python310/exports.h
PC/python310/fileobject.h
PC/python310/fileutils.h
PC/python310/floatobject.h
PC/python310/frameobject.h
PC/python310/funcobject.h
PC/python310/genericaliasobject.h
PC/python310/genobject.h
PC/python310/import.h
PC/python310/interpreteridobject.h
PC/python310/intrcheck.h
PC/python310/iterobject.h
PC/python310/listobject.h
PC/python310/locale.h
PC/python310/longintrepr.h
PC/python310/longobject.h
PC/python310/marshal.h
PC/python310/memoryobject.h
PC/python310/methodobject.h
PC/python310/modsupport.h
PC/python310/moduleobject.h
PC/python310/namespaceobject.h
PC/python310/object.h
PC/python310/objimpl.h
PC/python310/opcode.h
PC/python310/osdefs.h
PC/python310/osmodule.h
PC/python310/patchlevel.h
PC/python310/py_curses.h
PC/python310/pycapsule.h
PC/python310/pydtrace.h
PC/python310/pyerrors.h
PC/python310/pyexpat.h
PC/python310/pyframe.h
PC/python310/pyhash.h
PC/python310/pylifecycle.h
PC/python310/pymacconfig.h
PC/python310/pymacro.h
PC/python310/pymath.h
PC/python310/pymem.h
PC/python310/pyport.h
PC/python310/pystate.h
PC/python310/pystrcmp.h
PC/python310/pystrhex.h
PC/python310/pystrtod.h
PC/python310/Python.h
PC/python310/pythonrun.h
PC/python310/pythread.h
PC/python310/rangeobject.h
PC/python310/setobject.h
PC/python310/sliceobject.h
PC/python310/structmember.h
PC/python310/structseq.h
PC/python310/sysmodule.h
PC/python310/token.h
PC/python310/traceback.h
PC/python310/tracemalloc.h
PC/python310/tupleobject.h
PC/python310/typeslots.h
PC/python310/unicodeobject.h
PC/python310/warnings.h
PC/python310/weakrefobject.h
PC/python310/cpython/abstract.h
PC/python310/cpython/bytearrayobject.h
PC/python310/cpython/bytesobject.h
PC/python310/cpython/ceval.h
PC/python310/cpython/code.h
PC/python310/cpython/compile.h
PC/python310/cpython/dictobject.h
PC/python310/cpython/fileobject.h
PC/python310/cpython/fileutils.h
PC/python310/cpython/frameobject.h
PC/python310/cpython/import.h
PC/python310/cpython/initconfig.h
PC/python310/cpython/interpreteridobject.h
PC/python310/cpython/listobject.h
PC/python310/cpython/methodobject.h
PC/python310/cpython/object.h
PC/python310/cpython/objimpl.h
PC/python310/cpython/odictobject.h
PC/python310/cpython/picklebufobject.h
PC/python310/cpython/pyctype.h
PC/python310/cpython/pydebug.h
PC/python310/cpython/pyerrors.h
PC/python310/cpython/pyfpe.h
PC/python310/cpython/pylifecycle.h
PC/python310/cpython/pymem.h
PC/python310/cpython/pystate.h
PC/python310/cpython/pythonrun.h
PC/python310/cpython/pytime.h
PC/python310/cpython/sysmodule.h
PC/python310/cpython/traceback.h
PC/python310/cpython/tupleobject.h
PC/python310/cpython/unicodeobject.h
PC/python310/internal/pycore_abstract.h
PC/python310/internal/pycore_accu.h
PC/python310/internal/pycore_asdl.h
PC/python310/internal/pycore_ast_state.h
PC/python310/internal/pycore_ast.h
PC/python310/internal/pycore_atomic_funcs.h
PC/python310/internal/pycore_atomic.h
PC/python310/internal/pycore_bitutils.h
PC/python310/internal/pycore_blocks_output_buffer.h
PC/python310/internal/pycore_bytes_methods.h
PC/python310/internal/pycore_call.h
PC/python310/internal/pycore_ceval.h
PC/python310/internal/pycore_code.h
PC/python310/internal/pycore_compile.h
PC/python310/internal/pycore_condvar.h
PC/python310/internal/pycore_context.h
PC/python310/internal/pycore_dtoa.h
PC/python310/internal/pycore_fileutils.h
PC/python310/internal/pycore_format.h
PC/python310/internal/pycore_gc.h
PC/python310/internal/pycore_getopt.h
PC/python310/internal/pycore_gil.h
PC/python310/internal/pycore_hamt.h
PC/python310/internal/pycore_hashtable.h
PC/python310/internal/pycore_import.h
PC/python310/internal/pycore_initconfig.h
PC/python310/internal/pycore_interp.h
PC/python310/internal/pycore_list.h
PC/python310/internal/pycore_long.h
PC/python310/internal/pycore_moduleobject.h
PC/python310/internal/pycore_object.h
PC/python310/internal/pycore_parser.h
PC/python310/internal/pycore_pathconfig.h
PC/python310/internal/pycore_pyarena.h
PC/python310/internal/pycore_pyerrors.h
PC/python310/internal/pycore_pyhash.h
PC/python310/internal/pycore_pylifecycle.h
PC/python310/internal/pycore_pymem.h
PC/python310/internal/pycore_pystate.h
PC/python310/internal/pycore_runtime.h
PC/python310/internal/pycore_structseq.h
PC/python310/internal/pycore_symtable.h
PC/python310/internal/pycore_sysmodule.h
PC/python310/internal/pycore_traceback.h
PC/python310/internal/pycore_tuple.h
PC/python310/internal/pycore_ucnhash.h
PC/python310/internal/pycore_unionobject.h
PC/python310/internal/pycore_warnings.h
.python-version
pyconfig.pre.tmp
pyconfig.tmp
